<!-- <section class="advantages">
    <div class="container">
        <div class="advantages__inner">
            <h2 class="advantages__title">
                Преимущества замены фильтров
            </h2>
            <div class="advantages__items">
                <div class="advantages__item advantages__item_one">
                    <img class="advantages__num" src="images/1.svg" alt="icon">
                    <p class="advantages__text">90 -100% - уровень улавливания частиц пыли размером менее 1 мк </p>
                </div>
                <div class="advantages__item advantages__item_two">
                    <img class="advantages__num" src="images/2.svg" alt="icon">
                    <p class="advantages__text">Увеличение запас прочности, качества и надежности автомобиля. </p>
                </div>
                <div class="advantages__item advantages__item_three">
                    <img class="advantages__num" src="images/3.svg" alt="icon">
                    <p class="advantages__text">Появление пропускной способности межсервисного периода, которую не
                        захочется терять </p>
                </div>
                <div class="advantages__item advantages__item_four">
                    <img class="advantages__num" src="images/4.svg" alt="icon">
                    <p class="advantages__text">Уменьшение расхода топлива </p>
                </div>
                <div class="advantages__item advantages__item_five">
                    <img class="advantages__num" src="images/5.svg" alt="icon">
                    <p class="advantages__text">Снижение к минимуму вредных примесей в атмосферу </p>
                </div>
                <div class="advantages__item advantages__item_six">
                    <img class="advantages__num" src="images/6.svg" alt="icon">
                    <p class="advantages__text">Увеличение срока эксплуатации двигателя машины </p>
                </div>
                <div class="advantages__item advantages__item_seven">
                    <img class="advantages__num" src="images/7.svg" alt="icon">
                    <p class="advantages__text">Очистительная способность обслуживающей жидкости </p>
                </div>
                <div class="advantages__item advantages__item_eight">
                    <img class="advantages__num" src="images/8.svg" alt="icon">
                    <p class="advantages__text">Создания комфортной езды в автомобиле для водителя и пассажиров </p>
                </div>
            </div>
        </div>
    </div>
</section> -->