<section class="benefits">
    <div class="container">
        <div class="benefits__inner">
            <h2 class="benefits__title">
                Преимущества замены фильтров
            </h2>
            <div class="benefits__items">
                <div class="benefits__item-wrapper">
                    <div class="benefits__item">
                        <!-- <svg class="benefits__num">
                            <use xlink:href="images/icons-sprite.svg#icon-1"></use>
                        </svg> -->
                        <img class="benefits__num" src="images/1.svg" alt="icon">
                        <p class="benefits__text">90 -100% - уровень улавливания частиц пыли размером менее 1 мк</p>
                    </div>
                </div>
                <div class="benefits__item-wrapper">
                    <div class="benefits__item benefits__item_two">
                        <img class="benefits__num" src="images/2.svg" alt="icon">
                        <p class="benefits__text">Увеличение запаса прочности, качества и надежности автомобиля.</p>
                    </div>
                </div>
                <div class="benefits__item-wrapper">
                    <div class="benefits__item">
                        <img class="benefits__num" src="images/3.svg" alt="icon">
                        <p class="benefits__text">Появление пропускной способности межсервисного периода, которую не
                            захочется терять</p>
                    </div>
                </div>
                <div class="benefits__item-wrapper">
                    <div class="benefits__item benefits__item_four">
                        <img class="benefits__num" src="images/4.svg" alt="icon">
                        <p class="benefits__text">Уменьшение расхода топлива </p>
                    </div>
                </div>
                <div class="benefits__item-wrapper">
                    <div class="benefits__item benefits__item_five">
                        <img class="benefits__num" src="images/5.svg" alt="icon">
                        <p class="benefits__text">Снижение к минимуму вредных примесей в атмосферу</p>
                    </div>
                </div>
                <div class="benefits__item-wrapper">
                    <div class="benefits__item benefits__item_six">
                        <img class="benefits__num" src="images/6.svg" alt="icon">
                        <p class="benefits__text">Увеличение срока эксплуатации двигателя машины</p>
                    </div>
                </div>
                <div class="benefits__item-wrapper">
                    <div class="benefits__item benefits__item_seven">
                        <img class="benefits__num" src="images/7.svg" alt="icon">
                        <p class="benefits__text">Очистительная способность обслуживающей жидкости</p>
                    </div>
                </div>
                <div class="benefits__item-wrapper">
                    <div class="benefits__item benefits__item_eight">
                        <img class="benefits__num" src="images/8.svg" alt="icon">
                        <p class="benefits__text">Создания комфортной езды в автомобиле для водителя и пассажиров</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>