<section class="best">
    <div class="best__inner">
        <div class="container">
            <h2 class="best__title">
                Топ – 10 производителей лучших воздушных фильтров
            </h2>
            <div class="best__top-content">
                <div class="best__top-item">
                    <p class="best__top-text">Оптимальное соотношение цены и качества. Бюджетное решение для машин
                        европейского производства</p>
                </div>
                <div class="best__top-item">
                    <p class="best__top-text">Воздушные фильтры Тойота и Ниссан</p>
                </div>
                <div class="best__top-item">
                    <p class="best__top-text">Безупречное качество. Самый популярный упаковщик</p>
                </div>
                <div class="best__top-item">
                    <p class="best__top-text">Лучшие фильтры нулевого сопротивления</p>
                </div>
                <div class="best__top-item">
                    <p class="best__top-text">Самые безопасные фильтры. Запчасти для планового сервисного обслуживания
                        американских машин</p>
                </div>
                <div class="best__top-item">
                    <p class="best__top-text">Лучшая цена</p>
                </div>
            </div>
        </div>
        <div class="best__center">
            <div class="container">
                <div class="best__center-content">
                    <div class="best__center-item best__center-item_two">
                        <p class="best__center-text">Самый эффективный. Высокая надежность
                        </p>
                        <div class="best__center-inner">
                            <div class="best__center-name">MAHLE</div>
                            <div class="best__center-place">2</div>
                        </div>
                    </div>
                    <div class="best__center-item best__center-item_four">
                        <p class="best__center-text">Высокие рабочие характеристики. Расходные материалы для грузовой и
                            специальной
                            техники</p>
                        <div class="best__center-inner">
                            <div class="best__center-name">MAN-FIlter</div>
                            <div class="best__center-place">4</div>
                        </div>
                    </div>
                    <div class="best__center-item best__center-item_six">
                        <p class="best__center-text">Лучшее прилегание. Полное соответствие размера моделей. Фильтры для
                            внедорожников и кроссоверов
                        </p>
                        <div class="best__center-inner">
                            <div class="best__center-name">Fram</div>
                            <div class="best__center-place">6</div>
                        </div>
                    </div>
                    <div class="best__center-item best__center-item_eight">
                        <p class="best__center-text">Широкий ассортимент моделей. Высокое качество сборки
                        </p>
                        <div class="best__center-inner">
                            <div class="best__center-name">sakura</div>
                            <div class="best__center-place">8</div>
                        </div>
                    </div>
                    <div class="best__center-item best__center-item_ten">
                        <p class="best__center-text">Для отечественных автомобилей высокого качества</p>
                        <div class="best__center-inner">
                            <div class="best__center-name">big filter</div>
                            <div class="best__center-place">10</div>
                        </div>
                    </div>
                    <div class="best__center-item best__center-item_one">
                        <div class="best__center-inner">
                            <div class="best__center-place">1</div>
                            <div class="best__center-name">FILTRON</div>
                        </div>
                        <p class="best__center-text">Оптимальное соотношение цены и качества. Бюджетное решение для
                            машин
                            европейского производства</p>
                    </div>
                    <div class="best__center-item best__center-item_three">
                        <div class="best__center-inner">
                            <div class="best__center-place">3</div>
                            <div class="best__center-name">K&N</div>
                        </div>
                        <p class="best__center-text">Лучшие фильтры нулевого сопротивления</p>
                    </div>
                    <div class="best__center-item best__center-item_five">
                        <div class="best__center-inner">
                            <div class="best__center-place">5</div>
                            <div class="best__center-name">maSumА </div>
                        </div>
                        <p class="best__center-text">Воздушные фильтры Тойота и Ниссан</p>
                    </div>
                    <div class="best__center-item best__center-item_seven">
                        <div class="best__center-inner">
                            <div class="best__center-place">7</div>
                            <div class="best__center-name">champion</div>
                        </div>
                        <p class="best__center-text">Самые безопасные фильтры. Запчасти для планового сервисного
                            обслуживания американских машин</p>
                    </div>
                    <div class="best__center-item best__center-item_nine">
                        <div class="best__center-inner">
                            <div class="best__center-place">9</div>
                            <div class="best__center-name">bosch</div>
                        </div>
                        <p class="best__center-text">Безупречное качество. Самый популярный упаковщик</p>
                    </div>
                    <div class="best__center-item best__center-item_ten2">
                        <div class="best__center-inner">
                            <div class="best__center-place">10</div>
                            <div class="best__center-name">tsn</div>
                        </div>
                        <p class="best__center-text">Лучшая цена</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="best__bottom">
            <div class="container">
                <div class="best__bottom-content">
                    <div class="best__bottom-item">
                        <p class="best__bottom-text">Самый эффективный. Высокая надежность
                        </p>
                    </div>
                    <div class="best__bottom-item">
                        <p class="best__bottom-text">Лучшее прилегание. Полное соответствие размера моделей. Фильтры
                            для
                            внедорож ников и кроссоверов
                        </p>
                    </div>
                    <div class="best__bottom-item">
                        <p class="best__bottom-text">Для отечественных автомобилей высокого качества</p>
                    </div>
                    <div class="best__bottom-item">
                        <p class="best__bottom-text">Высокие рабочие характеристики. Расходные материалы для грузовой и
                            специальной техники</p>
                    </div>
                    <div class="best__bottom-item">
                        <p class="best__bottom-text">Широкий ассортимент моделей. Высокое качество сборки
                        </p>
                    </div>
                </div>
                <a class="best__btn button" href="#">
                    Зарегистрироваться и заказать
                </a>
            </div>
        </div>
    </div>
</section>