<footer class="footer" id="element4">
    <div class="footer__container container">
        <div class="footer__top">
            <div id="map" class="footer__map">
                <iframe class="footer__iframe"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2287.3421241729243!2d82.90740361586427!3d55.01969625575884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42dfe42aa0f5dff1%3A0x789f7e1cd7d8c4bd!2smega-pa.ru!5e0!3m2!1sru!2sch!4v1646635718924!5m2!1sru!2sch"
                    width="921" height="320" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <ul class="footer__top-contacts">
                <li class="footer__top-item">
                    <h3 class="footer__title">Свяжитесь с нами</h3>
                </li>
                <li class="footer__top-item">
                    <address class="footer__address">630007, г. Новосибирск, <br> ул. Фабричная 35а, офис 4</address>
                </li>
                <li class="footer__top-item"> <a class="footer__email"
                        href="mailto:mega.parts54@mail.ru">mega.parts54@mail.ru</a></li>
                <li class="footer__top-item"> <a class="footer__phone" href="tel:+7 (913) 986-93-25">+7 (913)
                        986-93-25</a></li>
                <li class="footer__top-item footer__top-item_last">
                    <button class="footer__button" data-modal="contact-form">Заказать звонок</button>
                </li>
            </ul>
        </div>
        <div class="footer__bottom">
            <a class="footer__logo" href="#">
                <img class="footer__logo-img" src="images/logo.png"></img>
            </a>
            <nav class="footer__menu">
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#element1">О нас</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#element2">Производители и виды фильтров</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="https://mega-pa.ru/customers/new"
                            target="blank">Регистрация</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link" href="#element4">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__schedule">
                пн-пт. 9-00 - 18-00
            </div>
        </div>
    </div>
</footer>
@@include("_modal.html")
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script>
</body>

</html>