<section class="filters" id="element2">
    <div class="filters__container container">
        <div class="filters__inner">
            <div class="filters__title-box">
                <h2 class="filters__title">
                    Производители <br> и виды фильтров
                </h2>
                <p class="filters__text">
                    При плановой замене расходных материалов реко&shy;мен&shy;дуется выбирать произ&shy;води&shy;телей
                    комплек&shy;тующих.
                    Не
                    ограничи&shy;вать&shy;ся нали&shy;чием филь&shy;тру&shy;ющих элементов склада станций
                    техобслу&shy;живания.
                    Это
                    позво&shy;лит
                    при&shy;об&shy;рести фильтр, не пропускающий пыль, мусор в двигатель.

                </p>
            </div>
            <div class="filters__tabs">
                <div class="filters__tab active" data-id="tab-1">Воздушные</div>
                <div class="filters__tab" data-id="tab-2">Масляные</div>
                <div class="filters__tab" data-id="tab-3">Салонные</div>
                <div class="filters__tab" data-id="tab-4">Для АКПП</div>
                <div class="filters__tab" data-id="tab-5">Топливные</div>
            </div>
            <div class="filters__content-item filters__content-item_first active-tab" id="tab-1">
                <div class="filters__content-inner">
                    <h3 class="filters__title-item">Производитель</h3>
                    <div class="filters__brands-list">
                        <p class="filters__brand-text">ACDELCO</p>
                        <p class="filters__brand-text">AVANTECH</p>
                        <p class="filters__brand-text">BIG FILTER </p>
                        <p class="filters__brand-text">BOSCH</p>
                        <p class="filters__brand-text">COB-WEB</p>
                        <p class="filters__brand-text"> CHAMPION</p>
                        <p class="filters__brand-text">DEKO</p>
                        <p class="filters__brand-text">FORD</p>
                        <p class="filters__brand-text">FILTRON</p>
                        <p class="filters__brand-text">FRAM</p>
                        <p class="filters__brand-text">JUST DRIVE</p>
                        <p class="filters__brand-text">JS ASAKASHI</p>
                        <p class="filters__brand-text">HYUNDAI</p>
                        <p class="filters__brand-text">HONDA</p>
                        <p class="filters__brand-text">GM</p>
                        <p class="filters__brand-text">GOODWILL</p>
                        <p class="filters__brand-text">K&N</p>
                        <p class="filters__brand-text">MILES</p>
                        <p class="filters__brand-text">MICRO</p>
                        <p class="filters__brand-text">MAZDA</p>
                        <p class="filters__brand-text">MANN</p>
                        <p class="filters__brand-text">MASUMA</p>
                        <p class="filters__brand-text">MAHLE</p>
                        <p class="filters__brand-text">MITSUBISHI</p>
                        <p class="filters__brand-text">NISSAN</p>
                        <p class="filters__brand-text">NIPPARTS</p>
                        <p class="filters__brand-text">NITTO</p>
                        <p class="filters__brand-text">SUZUKI</p>
                        <p class="filters__brand-text">SANGYONG</p>
                        <p class="filters__brand-text">Sakura</p>
                        <p class="filters__brand-text">SHINKO</p>
                        <p class="filters__brand-text">SUBARU</p>
                        <p class="filters__brand-text">TOYOTA</p>
                        <p class="filters__brand-text">TSN</p>
                        <p class="filters__brand-text">VIC</p>
                        <p class="filters__brand-text">VAG</p>
                        <p class="filters__brand-text">VEAIR</p>
                        <p class="filters__brand-text">PIAA</p>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="filters__content-item" id="tab-2">
                <div class="filters__content-inner">
                    <h3 class="filters__title-item">Производитель</h3>
                    <div class="filters__brands-list">
                        <p class="filters__brand-text">ACDELCO</p>
                        <p class="filters__brand-text">AVANTECH</p>
                        <p class="filters__brand-text">BIG FILTER </p>
                        <p class="filters__brand-text">BOSCH</p>
                        <p class="filters__brand-text">COB-WEB</p>
                        <p class="filters__brand-text"> CHAMPION</p>
                        <p class="filters__brand-text">DEKO</p>
                        <p class="filters__brand-text">FORD</p>
                        <p class="filters__brand-text">FILTRON</p>
                        <p class="filters__brand-text">FRAM</p>
                        <p class="filters__brand-text">JUST DRIVE</p>
                        <p class="filters__brand-text">JS ASAKASHI</p>
                        <p class="filters__brand-text">HYUNDAI</p>
                        <p class="filters__brand-text">HONDA</p>
                        <p class="filters__brand-text">GM</p>
                        <p class="filters__brand-text">GOODWILL</p>
                        <p class="filters__brand-text">K&N</p>
                        <p class="filters__brand-text">MILES</p>
                        <p class="filters__brand-text">MICRO</p>
                        <p class="filters__brand-text">MAZDA</p>
                        <p class="filters__brand-text">MANN</p>
                        <p class="filters__brand-text">MASUMA</p>
                        <p class="filters__brand-text">MAHLE</p>
                        <p class="filters__brand-text">MITSUBISHI</p>
                        <p class="filters__brand-text">NISSAN</p>
                        <p class="filters__brand-text">NIPPARTS</p>
                        <p class="filters__brand-text">NITTO</p>
                        <p class="filters__brand-text">SUZUKI</p>
                        <p class="filters__brand-text">SANGYONG</p>
                        <p class="filters__brand-text">Sakura</p>
                        <p class="filters__brand-text">SHINKO</p>
                        <p class="filters__brand-text">SUBARU</p>
                        <p class="filters__brand-text">TOYOTA</p>
                        <p class="filters__brand-text">TSN</p>
                        <p class="filters__brand-text">VIC</p>
                        <p class="filters__brand-text">VAG</p>
                        <p class="filters__brand-text">VEAIR</p>
                        <p class="filters__brand-text">PIAA</p>
                    </div>
                </div>
            </div>
            <div class="filters__content-item" id="tab-3">
                <div class="filters__content-inner">
                    <h3 class="filters__title-item">Производитель</h3>
                    <div class="filters__brands-list">
                        <p class="filters__brand-text">ACDELCO</p>
                        <p class="filters__brand-text">AVANTECH</p>
                        <p class="filters__brand-text">BIG FILTER </p>
                        <p class="filters__brand-text">BOSCH</p>
                        <p class="filters__brand-text">COB-WEB</p>
                        <p class="filters__brand-text"> CHAMPION</p>
                        <p class="filters__brand-text">DEKO</p>
                        <p class="filters__brand-text">FORD</p>
                        <p class="filters__brand-text">FILTRON</p>
                        <p class="filters__brand-text">FRAM</p>
                        <p class="filters__brand-text">JUST DRIVE</p>
                        <p class="filters__brand-text">JS ASAKASHI</p>
                        <p class="filters__brand-text">HYUNDAI</p>
                        <p class="filters__brand-text">HONDA</p>
                        <p class="filters__brand-text">GM</p>
                        <p class="filters__brand-text">GOODWILL</p>
                        <p class="filters__brand-text">K&N</p>
                        <p class="filters__brand-text">MILES</p>
                        <p class="filters__brand-text">MICRO</p>
                        <p class="filters__brand-text">MAZDA</p>
                        <p class="filters__brand-text">MANN</p>
                        <p class="filters__brand-text">MASUMA</p>
                        <p class="filters__brand-text">MAHLE</p>
                        <p class="filters__brand-text">MITSUBISHI</p>
                        <p class="filters__brand-text">NISSAN</p>
                        <p class="filters__brand-text">NIPPARTS</p>
                        <p class="filters__brand-text">NITTO</p>
                        <p class="filters__brand-text">SUZUKI</p>
                        <p class="filters__brand-text">SANGYONG</p>
                        <p class="filters__brand-text">Sakura</p>
                        <p class="filters__brand-text">SHINKO</p>
                        <p class="filters__brand-text">SUBARU</p>
                        <p class="filters__brand-text">TOYOTA</p>
                        <p class="filters__brand-text">TSN</p>
                        <p class="filters__brand-text">VIC</p>
                        <p class="filters__brand-text">VAG</p>
                        <p class="filters__brand-text">VEAIR</p>
                        <p class="filters__brand-text">PIAA</p>
                    </div>
                </div>
            </div>
            <div class="filters__content-item" id="tab-4">
                <div class="filters__content-inner">
                    <h3 class="filters__title-item">Производитель</h3>
                    <div class="filters__brands-list">
                        <p class="filters__brand-text">ACDELCO</p>
                        <p class="filters__brand-text">AVANTECH</p>
                        <p class="filters__brand-text">BIG FILTER </p>
                        <p class="filters__brand-text">BOSCH</p>
                        <p class="filters__brand-text">COB-WEB</p>
                        <p class="filters__brand-text"> CHAMPION</p>
                        <p class="filters__brand-text">DEKO</p>
                        <p class="filters__brand-text">FORD</p>
                        <p class="filters__brand-text">FILTRON</p>
                        <p class="filters__brand-text">FRAM</p>
                        <p class="filters__brand-text">JUST DRIVE</p>
                        <p class="filters__brand-text">JS ASAKASHI</p>
                        <p class="filters__brand-text">HYUNDAI</p>
                        <p class="filters__brand-text">HONDA</p>
                        <p class="filters__brand-text">GM</p>
                        <p class="filters__brand-text">GOODWILL</p>
                        <p class="filters__brand-text">K&N</p>
                        <p class="filters__brand-text">MILES</p>
                        <p class="filters__brand-text">MICRO</p>
                        <p class="filters__brand-text">MAZDA</p>
                        <p class="filters__brand-text">MANN</p>
                        <p class="filters__brand-text">MASUMA</p>
                        <p class="filters__brand-text">MAHLE</p>
                        <p class="filters__brand-text">MITSUBISHI</p>
                        <p class="filters__brand-text">NISSAN</p>
                        <p class="filters__brand-text">NIPPARTS</p>
                        <p class="filters__brand-text">NITTO</p>
                        <p class="filters__brand-text">SUZUKI</p>
                        <p class="filters__brand-text">SANGYONG</p>
                        <p class="filters__brand-text">Sakura</p>
                        <p class="filters__brand-text">SHINKO</p>
                        <p class="filters__brand-text">SUBARU</p>
                        <p class="filters__brand-text">TOYOTA</p>
                        <p class="filters__brand-text">TSN</p>
                        <p class="filters__brand-text">VIC</p>
                        <p class="filters__brand-text">VAG</p>
                        <p class="filters__brand-text">VEAIR</p>
                        <p class="filters__brand-text">PIAA</p>
                    </div>
                </div>
            </div>
            <div class="filters__content-item" id="tab-5">
                <div class="filters__content-inner">
                    <h3 class="filters__title-item">Производитель</h3>
                    <div class="filters__brands-list">
                        <p class="filters__brand-text">ACDELCO</p>
                        <p class="filters__brand-text">AVANTECH</p>
                        <p class="filters__brand-text">BIG FILTER </p>
                        <p class="filters__brand-text">BOSCH</p>
                        <p class="filters__brand-text">COB-WEB</p>
                        <p class="filters__brand-text"> CHAMPION</p>
                        <p class="filters__brand-text">DEKO</p>
                        <p class="filters__brand-text">FORD</p>
                        <p class="filters__brand-text">FILTRON</p>
                        <p class="filters__brand-text">FRAM</p>
                        <p class="filters__brand-text">JUST DRIVE</p>
                        <p class="filters__brand-text">JS ASAKASHI</p>
                        <p class="filters__brand-text">HYUNDAI</p>
                        <p class="filters__brand-text">HONDA</p>
                        <p class="filters__brand-text">GM</p>
                        <p class="filters__brand-text">GOODWILL</p>
                        <p class="filters__brand-text">K&N</p>
                        <p class="filters__brand-text">MILES</p>
                        <p class="filters__brand-text">MICRO</p>
                        <p class="filters__brand-text">MAZDA</p>
                        <p class="filters__brand-text">MANN</p>
                        <p class="filters__brand-text">MASUMA</p>
                        <p class="filters__brand-text">MAHLE</p>
                        <p class="filters__brand-text">MITSUBISHI</p>
                        <p class="filters__brand-text">NISSAN</p>
                        <p class="filters__brand-text">NIPPARTS</p>
                        <p class="filters__brand-text">NITTO</p>
                        <p class="filters__brand-text">SUZUKI</p>
                        <p class="filters__brand-text">SANGYONG</p>
                        <p class="filters__brand-text">Sakura</p>
                        <p class="filters__brand-text">SHINKO</p>
                        <p class="filters__brand-text">SUBARU</p>
                        <p class="filters__brand-text">TOYOTA</p>
                        <p class="filters__brand-text">TSN</p>
                        <p class="filters__brand-text">VIC</p>
                        <p class="filters__brand-text">VAG</p>
                        <p class="filters__brand-text">VEAIR</p>
                        <p class="filters__brand-text">PIAA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>