<header class="header">
    <div class="header__background"></div>
    <div class="container">
        <div class="header__inner">
            <div class="menu__icon"></div>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">О нас</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Производители и виды фильтров</a>
                    </li>
                </ul>
            </nav>
            <a class="header__block-logo" href="#">
                <img class="header__logo" src="images/logo.png" alt="logo">
                <div class="header__descriptor">Интернет-магазин автозапчастей </div>
            </a>
            <nav class="menu menu_right">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">Регистрация</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="header__phone" data-modal="contact-form"><a class="header__icon" href="#" target="blank"></a>
            </div>
        </div>
    </div>
    <div class="hero">
        <div class="hero__container container">
            <div class="hero__inner">
                <img class="hero__image" src="images/staff/hero.png" alt="image">
                <div class="hero__content">
                    <p class="hero__info">
                        Скидка постоянным покупателям
                    </p>
                    <h1 class="hero__title">Воздушные фильтры проверенных производителей
                    </h1>
                    <h2 class="hero__subtitle">
                        для легковых, грузовых автомобилей <br> и сельхозтехники
                    </h2>
                    <div class="hero__info-box">
                        <div class="hero__info-text">
                            <p class="hero__info-1">Только сегодня!</p>
                            <p class="hero__info-2">Подарок <span>за регистрацию!</span></p>
                        </div>
                        <img class="hero__info-img" src="images/gift.png" alt="image">
                        <p class="hero__info-3">Бесплатная доставка <br><span>на весь срок сотрудничества.</span></p>
                    </div>
                    <a class="hero__btn button" href="#">
                        Зарегистрироваться и заказать
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>