<div class="modal__hidden">
    <div id="contact-form">
        <form class="form">
            <div class="form__inner">
                <h3 class="form__title">Заказать обратный звонок</h3>
                <p class="form__text">Имя</p>
                <input class="form__placeholder" type="text" placeholder="Введите имя">
                <p class="form__text">Телефон</p>
                <input class="form__placeholder" type="text" placeholder="Введите номер">
                <div class="form__buttons">
                    <button class="form__submit button" type="submit">Отправить</button>
                    <button class="form__close" type="button">Закрыть</button>
                </div>
            </div>
        </form>
    </div>
</div>