<section class="period">
    <div class="period__container container">
        <div class="period__inner">
            <div class="period__content">
                <h2 class="period__title">
                    Срок замены воздушного фильтра
                </h2>
                <p class="period__text-1">
                    Большинство автопроизводителей рекомендуют менять воздушный фильтр каждые 10 000 – 20 000 километров
                    или каждые 12 месяцев. Точные пара&shy;метры замены нужно узнать у разработчиков и
                    произ&shy;водителей
                    авто&shy;мо&shy;биля.
                </p>
                <p class="period__text-2">
                    Быстрее засоряет фильтр эксплуатация автомобиля в пыльных или сельских районах, езда в городе с
                    интен&shy;сивным движением и проб&shy;ками на дорогах. Лучше про&shy;верять и менять фильтр чаще,
                    напри&shy;мер
                    каждые
                    5000 километров.
                </p>
            </div>
            <img class="period__image" src="images/staff/replacement.png"></img>
        </div>
    </div>
</section>