<section class="period">
    <div class="period__container container">
        <div class="period__inner">
            <div class="period__content">
                <h2 class="period__title">
                    Срок замены воздушного фильтра
                </h2>
                <p class="period__text-1">
                    Большинство автопроизводителей рекомендуют менять воздушный фильтр каждые 10 000-20 000 километров
                    или каждые 12 месяцев. Точные параметры замены нужно узнать у разработчиков и производителей
                    автомобиля.
                </p>
                <p class="period__text-2">
                    Если эксплуатировать автомобиль в пыльных или сельских районах, то лучше если ваш механик будет
                    проверять и менять фильтр чаще, например, каждые 5000 километров. Езда в городе с интенсивным
                    движение, где много пробок, также требует замены фильтра чаще.
                </p>
            </div>
            <img class="period__image" src="images/staff/replacement.png"></img>
        </div>
    </div>
</section>