<section class="replacement">
    <div class="replacement__container container">
        <div class="replacement__oilfilter-inner">
            <div class="replacement__oilfilter-content">
                <h2 class="replacement__title">
                    Воздушный, масляный <br>и салонный фильтры рекомендуют менять при каждом
                    техобслуживание</h2>
                <h3 class="replacement__oilfilter-title">
                    Масляный фильтр очищает масло от грубых примесей.
                </h3>
                <p class="replacement__oilfilter-text">
                    Масляный фильтр также как и воздушный устана&shy;вли&shy;вается для нормального
                    функ&shy;ци&shy;они&shy;ро&shy;вания
                    двига&shy;теля и
                    автомобиля. Они оба защища&shy;ют двига&shy;тель от мусора и продуктов распада.
                </p>
                <p class="replacement__oilfilter-text replacement__oilfilter-text_style">
                    Масляный фильтр
                    очищает
                    масло
                    от грубых примесей. Важно чтобы он тоже оставался чистым. Его рабочей способности хватает только на
                    10 000 – 15 000 километров. Нужно менять масляный фильтр
                    вместе с
                    маслом.
                </p>
            </div>
            <img class="replacement__oilfilter-image" src="images/staff/oil_filter.png"></img>
        </div>
        <div class="replacement__cabinfilter-inner">
            <img class="replacement__cabinfilter-image" src="images/staff/cabin_filter.png"></img>
            <div class="replacement__cabinfilter-content">
                <h3 class="replacement__cabinfilter-title">
                    Салонный фильтр очищает уличный воздух.
                </h3>
                <p class="replacement__cabinfilter-text">
                    Салонный фильтр защищает автовла&shy;дельцев, пасса&shy;жиров и салон от пыли и газов. Он
                    скон&shy;стру&shy;иро&shy;ван для очище&shy;ния уличного возду&shy;ха, и оберегает испари&shy;тель
                    конди&shy;ционера от
                    засо&shy;рения. Фильтр
                    теря&shy;ет
                    функцио&shy;наль&shy;ность по мере накопле&shy;ния мусора. Важно во&shy;время его заменить.
                </p>

                </p>
                <p class="replacement__cabinfilter-text">
                    Салонный
                    фильтр рекомендуется ме&shy;нять одно&shy;вре&shy;менно с обновле&shy;нием масла. Главный
                    признак
                    замены –
                    запо&shy;те&shy;вание стекол при влажной погоде. Период заме&shy;ны фильтра установ&shy;ленный
                    авто&shy;произ&shy;води&shy;телями
                    – 1
                    раз в год или 1 раз в 15 000 киломеров, смотря что наступит раньше.
                </p>

                </p>
                <p class="replacement__cabinfilter-text">
                    Срок службы зависит не от время или прой&shy;денных километров, а от того как часто включается
                    кондици&shy;онер или «печь» и от место&shy;поло&shy;жения использо&shy;ва&shy;ния автомо&shy;биля –
                    климатические
                    условия,
                    пыль на
                    дорогах, густонасе&shy;ленность населенного пункта и другое.
                </p>
            </div>

        </div>
        <div class="replacement__exclamation-inner">
            <div class="replacement__exclamation-content">
                <p class="replacement__exclamation-text">
                    При замене масла большинство автомехаников рекомендуют заменить автомобильные фильтры тоже. Так
                    автовладельцы будут четко знать пробег и не запутаются в сроках замены фильтров.
                </p>
                <p class="replacement__exclamation-text">
                    Процедура замены машинного воздухоочистителя не требует отдельных знаний. Можно с легкостью выполнит
                    данную работу. Для этого понадобится 60 минут времени и средние знания систем автомобиля.
                </p>
            </div>
            <img class="replacement__exclamation-image" src="images/staff/exclamation.svg"></img>
        </div>
    </div>
</section>