<section class="states">
    <div class="container">
        <div class="states__inner">
            <img class="states__img" src="images/staff/states.png" alt="image">
            <div class="states__content">
                <h2 class="states__title">Важно вовремя менять фильтр и следить за состоянием </h2>
                <p class="states__text">Воздушные фильтры предотвращают попадания пыли в двигатель. На каждый литр
                    топлива через воздушный фильтр проходит в сред&shy;нем 15 литров воздуха. </p>
                <p class="states__text">Важно чтобы воздух
                    свободно
                    поступал. Нельзя допус&shy;кать кислород&shy;но&shy;го голода&shy;ния двигателя.</p>
                <p class="states__text">Со временем фильтр засоряется и рвется. Грязь летит в двигатель. Это приводит к
                    увеличению расхода топлива и повышается износ двигателя. </p>
            </div>
        </div>
    </div>
</section>