<section class="states">
    <div class="container">
        <div class="states__inner">
            <img class="states__img" src="images/staff/states.png" alt="image">
            <div class="states__content">
                <h2 class="states__title">Важно вовремя менять <br> и следить за состоянием фильтра</h2>
                <p class="states__text">Воздушные фильтры предотвращают попадания пыли в двигатель. На каждый литр
                    топлива через воздушный фильтр проходит в среднем 15 л. воздуха. Воздух должен свободно поступать
                    чтобы не произошло кислородное голодания двигателя. Со временем, если грязи будет много, воздушный
                    фильтр порвется. Соответственно грязь полетит в двигатель и это повлечет за собой увеличение расхода
                    топлива и повышенный износ двигателя.</p>
            </div>
        </div>
    </div>
</section>